@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,300,700');
:root {
    --primary-color: #21295C;
    --secondary-color: #821019;
    --tertiary-color: #98c1d9;
    --text-black: #191716;
}
* {
    box-sizing: border-box;
    margin: 0;
}
html {
    font-family: 'Work Sans', sans-serif;
    color: var(--text-black);
}
h1 {
    text-align: center;
    opacity: .9;
}
h2 {
    padding-top: 2rem;
}
h3 {
    padding-top: 3rem;
}
a {
    text-decoration: none;
    color: var(--text-black);
}
p {
    font-size: 1.25rem;
}
header {
    text-align: center;
    background: var(--primary-color);
    opacity: .9;
    width: 100vw;
    padding: 1.5rem;
}
header a {
    font-size: 2rem;
    font-weight: 700;
    color: #ffffff;
}
main {
    text-align: center;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer {
    text-align: center;
    padding: 2rem;
}
label {
    display: block;
    padding: 2.5rem 0 1rem;
}
.primary {
    display: inline-block;
    padding: 1rem 2.5rem;
    background: var(--secondary-color);
    color: #ffffff;
    font-size: 1.5rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    margin-top: 2rem;
}
button:hover {
    opacity: .8;
}
button:active{
    position: relative;
    top: .15rem;
}
.numberInput {
    text-align: right;
}
#price {
    width: 14rem;
}
#currency {
    font-size: 2rem;
}
.back {
    display: inline-block;
    padding: .5rem 1.5rem;
    background: var(--tertiary-color);
    color: var(--text-black);
    font-size: 1rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    margin-top: 1rem;
}
.back:hover {
    background: var(--tertiary-color);
    opacity: .8;
}
.back:active{
    position: relative;
    top: .15rem;
}
#extraQuestions {
    display: inline-block;
    padding: .5rem 1rem;
    background: var(--primary-color);
    color: #ffffff;
    font-size: 1rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    margin: 3rem 0 .5rem;
}
#extraQuestions i {
    color: #ffffff;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}
main i {
    padding: 2rem 0 1rem;
    font-size: 4rem;
    color: var(--primary-color);
}
input {
    width: 15rem;
    border: 0;
    padding: .5rem;
    font-size: 2rem;
    border-radius: 1rem;
    background: var(--tertiary-color);
    opacity: .8;
    color: var(--text-black);
}
select {
    width: 15rem;
    height: 2rem;
    font-size: 1.5rem;
    background: var(--tertiary-color);
    opacity: .8;
    overflow: hidden;
    border-radius: 1rem;
    border: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
#basicQuestions {
    display: none;
    text-align: center;
}
#results {
    display: none;
}
#greatIdea {
    display: none;
}
#maybe {
    display: none;
}
#dontDoIt {
    display: none;
}
#fixedMiles {
    display: none;
}
#variableMiles {
    display: none;
}
#premiumCabinShortFlight {
    display: none;
}
#premiumCabinLongFlight {
    display: none;
}
#mainCabinShortFlight {
    display: none;
}
#mainCabinLongFlight {
    display: none;
}
#additionalQuestions {
    display: none;
}
#about {
    text-align: left;
}
/* .goBack {
    text-align: left;
    margin-left: 2rem;
    font-size: 1.25rem;
}
.goBack i {
    font-size: 1.5rem;
    margin-left: -4rem;
    margin-right: -1rem;
} */
footer::after {
    content: "\00a9  2018 Eric Hansen";
    margin: 2rem 0;
    font-size: .75rem;
}
@media (min-width: 769px) {
    header {
        text-align: left;
        padding-left: 5rem;
    }
    main {
        padding: 0 10rem;
    }
}
@media (min-width: 1025px) {
    main {
        padding: 0 16rem;
    }
}