* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html {
    font-family: 'Open Sans', sans-serif;
    color: #033048;
    background-color: #f0efef;
}
body {
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-areas: 
          "header header"
          "main aside"
          "section section"
          "footer footer";
    grid-column-gap: 1em;
    justify-content: space-around;
}
h2 {
    font-weight: 600;
    font-size: 2em;
    padding: 1em 0 .5em;
}
h3 {
    font-size: 1em;
    font-weight: 800;
    padding-bottom: .25em;
}
a {
    text-decoration: none;
    color: #033048;
}
header {
    background-color: #033048;
    color: #ffffff;
    padding: 2em 4em;
    grid-area: header;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
main {
    grid-area: main;
    justify-content: center;
    margin-left: 4em;
    margin-bottom: 5em;
}
article {
    font-size: 1.25em;
}
aside {
    grid-area: aside;
    padding: 2em 4em 0 0;
    font-size: 1.25em;
}
#categories a {
    display: block;
}
footer {
    background-color: #121212;
    color: #ffffff;
    text-align: center;
    grid-area: footer;
}
aside div {
    padding-bottom: 2em;
}
p + a {
    font-weight: 600;
    font-size: 1.1em;
}
nav {
    font-size: 1em;
    font-weight: 600;
}
header a {
    color: #f9e42e;
    padding-left: 3em;
}
article a {
    font-weight: 600;
    display: block;
    text-align: right;
    padding: 2em 0 1em;
    border-bottom: 1px solid;
}
article p {
    font-weight: 300;
    color: #606161;
    clear: both;
}
article p::first-letter{
    float: left;
    font-size: 2em;
}
article img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    padding-bottom: 1em;
}
header img {
    height: 2em;
    margin-left: -3em;
}
footer img {
    margin-top: 2em;
    height: 2em;
}
i {
    color: #ffffff;
    padding: 1em;
    font-size: 2em;
}
#ad {
    background-color: #ffffff;
    width: 20vw;
    height: 500px;
    text-align: center;
    padding: 1em;
}
#cta {
    background-color: #f9e42e;
    padding: 2em;
    grid-area: section;
    text-align: center;
}
#cta button {
    background-color: #033048;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.5em;
    padding: 1rem 2rem; 
    border-radius: .5em;
    border-color: transparent;
}
footer::after {
    content: 'Copyright 2015. Relaxr.';
    display: block;
    padding-bottom: 2em;
}